body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

/* #particles-js {
    background: #f1f6f9;
    height: 100vh;
} */


/* COLOUR PALETTE - to be updated on Material UI theme */
/* BACKGROUND: #f1f6f9;
DARKBLUE: #14274e;
MIDBLUE: #394867;
LIGHTBLUE: #9ba4b4; 
BLUE: #1121b8cb;
BRIGHTBLUE: #0f3dd3cb*/


